
<div class="rect">
    <nav class="navbar navbar-expand-sm ">
        <div class="container-fluid">
            <img class="arrow" src="assets/Vector (16).png">
            <div class="employe">
                <span class="navbar-text">Employee Profile</span>
            </div>
            <div class="button1">
                <button type="button" class="btn btn-outline-danger">Remove</button>
               
            </div>
            <div class="button2">
                <button type="button" class="btn btn-outline-dark">+Assign task</button>
            </div>
        </div>
    </nav>
    <div class="container-fluid mt-3">
    </div>
    <nav class="navbar navbar-expand-sm ">
        <div class="container-fluid">
            <img class="arrow1" src="assets/Group 9.png">
            <div class="employe1">
                <h5>Vishaka Shekhawat </h5>
            </div>
            <div class="content">
                <h6>Content Curator</h6>
            </div>
            <div class="round">
                <img class="round1" src="assets/Ellipse 14.png">
            </div>
            <div class="round2">
                <h6>Online</h6>
            </div>
            <div class="round3">
                <h6> Logged in Since 8:30 | 23 Sep 2022</h6>
            </div>
            <div class="round4">
                <img class="dop" src="assets/Vector (17).png">
            </div>
            <div class="round5">
                <h6>Joined 23-09-2022</h6>
            </div>
            <div class="round6">
                <img class="dop1" src="assets/Group (2).png">
            </div>
            <div class="round7">
                <img class="dop3" src="assets/Assigned 966.png">
            </div>
            <div class="round8">
                <img class="dop4" src="assets/Group 13161.png">
            </div>
            <div class="round9">
                <img class="dop5" src="assets/Completed 852.png">
            </div>
            <div class="rectangle">
                <div class="eff">
                    <h5>Efficiency Score </h5>
                </div>
                <div class="percntage">
                    <h1>85%</h1>
                </div>
                <div class="percntage1">
                    <h3>85/100</h3> 
                    </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid mt-3">
    </div>
   
</div>
<app-navbar></app-navbar>